
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 1140px;
    margin: auto;
}

section{
    padding-top:70px ;
}

img{
    width: 100%;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-logo img{
    height: 50px;
}

 .navbar-list{
 display: flex;
 align-items: center;
 gap: 20px;
     
 } 

.navbar-list ul{
    display: flex;
   gap: 20px;
}

.navbar-list ul li{
    list-style: none;
}
.navbar-list ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;

}

.navbar-list .links-one a{
    color: black;
}

.navbar-list .links-two a{
    color: gray;
}
.navbar-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-cart  a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.navbar-cart small{
    font-size: 17px;
}

/* banner section */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-text, .banner-img{
    flex: 1;
}

.banner-text h2{
    font-size: 40px;
    font-weight:bold;
    margin-bottom: 15px;
}

.banner-text span{
    color: orangered;
}
.banner-text p{
    color: gray;
    
}

/* plants section */


 .plants-text h3,p{
text-align: center;
 
 }

 .plants-text p{
    padding-bottom: 30px;
 }

 .plants-text h3{
    font-size: 40px;
    font-weight: 600;
    color: black;
 }

 .plants-text h3 span{
    color: orangered;
 }

 .card-box img{
    width:100%;
    
 }

 .card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
 }

 .card-box h4, p{
    text-align: center;
    margin: 10px 0;
 }

 .card-box button{
    padding: 10px 30px;
    background-color: orangered;
    color: white;
    width: 100%;
    border: none;
    margin: 20px 0;
 }