
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1140px;
    margin: auto;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar-logo img{
    height: 50px;
}

 .navbar-list{
 display: flex;
 align-items: center;
 gap: 20px;
     
 } 

.navbar-list ul{
    display: flex;
   gap: 20px;
}

.navbar-list ul li{
    list-style: none;
}
.navbar-list ul li a{
    text-decoration: none;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;

}

.navbar-list .links-one a{
    color: black;
}

.navbar-list .links-two a{
    color: gray;
}
.navbar-cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-cart  a{
    text-decoration: none;
    font-size: 17px;
    color: black;
}

.navbar-cart small{
    font-size: 17px;
}

/* banner section */